# Appendix D. Intro to Pandas

In [1]:
import pandas as pd

# D.1.1 DataFrame

In [2]:
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
]

In [3]:
columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]

In [4]:
# Creating the datafrane

df = pd.DataFrame(data,columns=columns)

In [5]:
# Viewing the first few rows 

df.head(2)

      Make   Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
0   Nissan  Stanza  1991  ...             MANUAL          sedan   2000
1  Hyundai  Sonata  2017  ...          AUTOMATIC          Sedan  27150

[2 rows x 8 columns]

# D.1.2 Series

In [6]:
#accessing the col in a dataframe first way

df.Make

0     Nissan
1    Hyundai
2      Lotus
3        GMC
4     Nissan
Name: Make, dtype: object

In [7]:
# The other way to access a col 

df["Make"]

0     Nissan
1    Hyundai
2      Lotus
3        GMC
4     Nissan
Name: Make, dtype: object

In [8]:
# If the col name contains space we can only use the brackets way

df["Engine HP"]

0    138.0
1      NaN
2    218.0
3    194.0
4    261.0
Name: Engine HP, dtype: float64

In [9]:
#getting a subset of columns

df[["Make","Model","MSRP"]]

      Make     Model   MSRP
0   Nissan    Stanza   2000
1  Hyundai    Sonata  27150
2    Lotus     Elise  54990
3      GMC    Acadia  34450
4   Nissan  Frontier  32340

In [10]:
#Adding a col to the df 

df["id"] = ["nis1","hyu1","lot2","gmc1","nis2"]
df

      Make     Model  Year  ...  Vehicle_Style   MSRP    id
0   Nissan    Stanza  1991  ...          sedan   2000  nis1
1  Hyundai    Sonata  2017  ...          Sedan  27150  hyu1
2    Lotus     Elise  2010  ...    convertible  54990  lot2
3      GMC    Acadia  2017  ...        4dr SUV  34450  gmc1
4   Nissan  Frontier  2017  ...         Pickup  32340  nis2

[5 rows x 9 columns]

In [11]:
# To delete a col

del df["id"]

# D.1.3 Index

In [12]:
# Getting the index of a dataframe using the index property

df.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
# To get col names

df.columns

Index(['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
       'Transmission Type', 'Vehicle_Style', 'MSRP'],
      dtype='object')

# D.1.4 Accessing rows

In [14]:
# Using iloc to access the rows of a Dataframe using their positional numbers

df.iloc[0]

Make                 Nissan
Model                Stanza
Year                   1991
Engine HP               138
Engine Cylinders          4
Transmission Type    MANUAL
Vehicle_Style         sedan
MSRP                   2000
Name: 0, dtype: object

In [15]:
# To get a subset of rows

df.iloc[[2,3,0]]

     Make   Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
2   Lotus   Elise  2010  ...             MANUAL    convertible  54990
3     GMC  Acadia  2017  ...          AUTOMATIC        4dr SUV  34450
0  Nissan  Stanza  1991  ...             MANUAL          sedan   2000

[3 rows x 8 columns]

In [16]:
# Creating a array from 0 to 4 to shuffle the rows around

import numpy as np

idx = np.arange(5)

In [17]:
# Shuffling the array

np.random.seed(2)
np.random.shuffle(idx)

In [18]:
# Using the shuffled array with the dataframe to shuffle the rows around

df.iloc[idx]

      Make     Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
2    Lotus     Elise  2010  ...             MANUAL    convertible  54990
4   Nissan  Frontier  2017  ...             MANUAL         Pickup  32340
1  Hyundai    Sonata  2017  ...          AUTOMATIC          Sedan  27150
3      GMC    Acadia  2017  ...          AUTOMATIC        4dr SUV  34450
0   Nissan    Stanza  1991  ...             MANUAL          sedan   2000

[5 rows x 8 columns]

In [19]:
# Assigning the shuffled array to a new dataframe


df = df.iloc[idx]
df

      Make     Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
2    Lotus     Elise  2010  ...             MANUAL    convertible  54990
4   Nissan  Frontier  2017  ...             MANUAL         Pickup  32340
1  Hyundai    Sonata  2017  ...          AUTOMATIC          Sedan  27150
3      GMC    Acadia  2017  ...          AUTOMATIC        4dr SUV  34450
0   Nissan    Stanza  1991  ...             MANUAL          sedan   2000

[5 rows x 8 columns]

In [20]:
# Checking the index 

df.index

Int64Index([2, 4, 1, 3, 0], dtype='int64')

In [21]:
# To access the rows now use loc 

df.loc[[0,1]]

      Make   Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
0   Nissan  Stanza  1991  ...             MANUAL          sedan   2000
1  Hyundai  Sonata  2017  ...          AUTOMATIC          Sedan  27150

[2 rows x 8 columns]

In [22]:
# comparing the differnce between iloc and loc

df.iloc[[0,1]]

     Make     Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
2   Lotus     Elise  2010  ...             MANUAL    convertible  54990
4  Nissan  Frontier  2017  ...             MANUAL         Pickup  32340

[2 rows x 8 columns]

In [23]:
# resetting the index and setting it back to the default one 

df.reset_index(drop=True)

      Make     Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
0    Lotus     Elise  2010  ...             MANUAL    convertible  54990
1   Nissan  Frontier  2017  ...             MANUAL         Pickup  32340
2  Hyundai    Sonata  2017  ...          AUTOMATIC          Sedan  27150
3      GMC    Acadia  2017  ...          AUTOMATIC        4dr SUV  34450
4   Nissan    Stanza  1991  ...             MANUAL          sedan   2000

[5 rows x 8 columns]

# D.1.5 Splitting DataFrame

In [24]:
# Splitting the dataframe into train validation test

n_train = 3
n_val = 1
n_test = 1

In [25]:
# splitting the DataFrame

df_train = df.iloc[:n_train]
df_val = df.iloc[n_train:n_train+n_val]
df_test = df.iloc[n_train+n_val:]

In [26]:
# Showing the sliced Dataframes

df_train

      Make     Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
2    Lotus     Elise  2010  ...             MANUAL    convertible  54990
4   Nissan  Frontier  2017  ...             MANUAL         Pickup  32340
1  Hyundai    Sonata  2017  ...          AUTOMATIC          Sedan  27150

[3 rows x 8 columns]

In [27]:
df_val

  Make   Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
3  GMC  Acadia  2017  ...          AUTOMATIC        4dr SUV  34450

[1 rows x 8 columns]

In [28]:
df_test

     Make   Model  Year  ...  Transmission Type  Vehicle_Style  MSRP
0  Nissan  Stanza  1991  ...             MANUAL          sedan  2000

[1 rows x 8 columns]

# D.2 Operations

# D.2.1 Element-wise operations

In [29]:
# For ex multiplying each element of a series by 2

df["Engine HP"] * 2

2    436.0
4    522.0
1      NaN
3    388.0
0    276.0
Name: Engine HP, dtype: float64

In [30]:
# Logical operations are also element-wise

df["Year"] > 2000

2     True
4     True
1     True
3     True
0    False
Name: Year, dtype: bool

In [31]:
#Combine multiple logical operations with logical & or logical |

(df["Year"]>2000) & (df["Make"] == "Nissan")

2    False
4     True
1    False
3    False
0    False
dtype: bool

# D.2.2 Filtering

In [32]:
# Selecting all Nissan cars 

df[df["Make"] == "Nissan"]

     Make     Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
4  Nissan  Frontier  2017  ...             MANUAL         Pickup  32340
0  Nissan    Stanza  1991  ...             MANUAL          sedan   2000

[2 rows x 8 columns]

In [33]:
# Complex ex selecting cars made after 2000 with automatic transmission

df[(df["Year"] > 2000) & (df["Transmission Type"] == "AUTOMATIC")]

      Make   Model  Year  ...  Transmission Type  Vehicle_Style   MSRP
1  Hyundai  Sonata  2017  ...          AUTOMATIC          Sedan  27150
3      GMC  Acadia  2017  ...          AUTOMATIC        4dr SUV  34450

[2 rows x 8 columns]

# D.2.3 String operations

In [34]:
# Convert the strings in Vehicle_style to lowercase we use the special "str" accessor to perform element wise ops

df["Vehicle_Style"].str.lower()

2    convertible
4         pickup
1          sedan
3        4dr suv
0          sedan
Name: Vehicle_Style, dtype: object

In [35]:
# Chainning serveral string ops by using str

df["Vehicle_Style"].str.lower().str.replace(" ","_")

2    convertible
4         pickup
1          sedan
3        4dr_suv
0          sedan
Name: Vehicle_Style, dtype: object

In [36]:
# Using string ops to normalize the column names

df.columns.str.lower().str.replace(" ","_")

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'msrp'],
      dtype='object')

In [37]:
# To modify the actual col names do the following

df.columns = df.columns.str.lower().str.replace(" ","_")

In [38]:
df

      make     model  year  ...  transmission_type  vehicle_style   msrp
2    Lotus     Elise  2010  ...             MANUAL    convertible  54990
4   Nissan  Frontier  2017  ...             MANUAL         Pickup  32340
1  Hyundai    Sonata  2017  ...          AUTOMATIC          Sedan  27150
3      GMC    Acadia  2017  ...          AUTOMATIC        4dr SUV  34450
0   Nissan    Stanza  1991  ...             MANUAL          sedan   2000

[5 rows x 8 columns]

In [39]:
# Using the dtypes property to return the types of each col

df.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders       int64
transmission_type     object
vehicle_style         object
msrp                   int64
dtype: object

In [40]:
# Selecting all string cols using the dtype property

df.dtypes[df.dtypes == "object"]

make                 object
model                object
transmission_type    object
vehicle_style        object
dtype: object

In [41]:
# Getting the names of the cols

df.dtypes[df.dtypes == "object"].index

Index(['make', 'model', 'transmission_type', 'vehicle_style'], dtype='object')

In [42]:
# creating a list of string col names to iterate over to normalize the elements

string_columns = df.dtypes[df.dtypes == "object"].index

for col in string_columns:
  df[col] = df[col].str.lower().str.replace(" ", "_")

In [43]:
df

      make     model  year  ...  transmission_type  vehicle_style   msrp
2    lotus     elise  2010  ...             manual    convertible  54990
4   nissan  frontier  2017  ...             manual         pickup  32340
1  hyundai    sonata  2017  ...          automatic          sedan  27150
3      gmc    acadia  2017  ...          automatic        4dr_suv  34450
0   nissan    stanza  1991  ...             manual          sedan   2000

[5 rows x 8 columns]

# D.2.4 Summarizing Operations

In [44]:
# Computing the avg of all the values in a col 

df.msrp.mean()

30186.0

In [45]:
# obtaining the sum, min, max and std using the describe method

df.msrp.describe()

count        5.000000
mean     30186.000000
std      18985.044904
min       2000.000000
25%      27150.000000
50%      32340.000000
75%      34450.000000
max      54990.000000
Name: msrp, dtype: float64

In [46]:
# Invoking mean on the entire DataFrame computes the mean values for all the numerical cols

df.mean()

year                 2010.40
engine_hp             202.75
engine_cylinders        4.40
msrp                30186.00
dtype: float64

In [47]:
# Invoking describe on the dataframe

df.describe()

              year  engine_hp  engine_cylinders          msrp
count     5.000000    4.00000          5.000000      5.000000
mean   2010.400000  202.75000          4.400000  30186.000000
std      11.260551   51.29896          0.894427  18985.044904
min    1991.000000  138.00000          4.000000   2000.000000
25%    2010.000000  180.00000          4.000000  27150.000000
50%    2017.000000  206.00000          4.000000  32340.000000
75%    2017.000000  228.75000          4.000000  34450.000000
max    2017.000000  261.00000          6.000000  54990.000000

# D.2.5 Missing Values

In [48]:
# Viewing which values are missing with isnull method

df.isnull()

    make  model   year  ...  transmission_type  vehicle_style   msrp
2  False  False  False  ...              False          False  False
4  False  False  False  ...              False          False  False
1  False  False  False  ...              False          False  False
3  False  False  False  ...              False          False  False
0  False  False  False  ...              False          False  False

[5 rows x 8 columns]

In [49]:
# Summarizing how many values are null with the sum method

df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            1
engine_cylinders     0
transmission_type    0
vehicle_style        0
msrp                 0
dtype: int64

In [50]:
# To replace the missing values with some actual values use the fillna method

df.engine_hp.fillna(0)

2    218.0
4    261.0
1      0.0
3    194.0
0    138.0
Name: engine_hp, dtype: float64

In [51]:
# Replacing missing values with the avg

df.engine_hp.fillna(df.engine_hp.mean())

2    218.00
4    261.00
1    202.75
3    194.00
0    138.00
Name: engine_hp, dtype: float64

In [52]:
# Writing the result back to the dataframe

df.engine_hp = df.engine_hp.fillna(df.engine_hp.mean())
df

      make     model  year  ...  transmission_type  vehicle_style   msrp
2    lotus     elise  2010  ...             manual    convertible  54990
4   nissan  frontier  2017  ...             manual         pickup  32340
1  hyundai    sonata  2017  ...          automatic          sedan  27150
3      gmc    acadia  2017  ...          automatic        4dr_suv  34450
0   nissan    stanza  1991  ...             manual          sedan   2000

[5 rows x 8 columns]

# D.2.6 Sorting

In [53]:
# sorting the df by MSRP

df.sort_values(by="msrp")

      make     model  year  ...  transmission_type  vehicle_style   msrp
0   nissan    stanza  1991  ...             manual          sedan   2000
1  hyundai    sonata  2017  ...          automatic          sedan  27150
4   nissan  frontier  2017  ...             manual         pickup  32340
3      gmc    acadia  2017  ...          automatic        4dr_suv  34450
2    lotus     elise  2010  ...             manual    convertible  54990

[5 rows x 8 columns]

In [54]:
# sorting by descending order

df.sort_values(by="msrp",ascending=False)

      make     model  year  ...  transmission_type  vehicle_style   msrp
2    lotus     elise  2010  ...             manual    convertible  54990
3      gmc    acadia  2017  ...          automatic        4dr_suv  34450
4   nissan  frontier  2017  ...             manual         pickup  32340
1  hyundai    sonata  2017  ...          automatic          sedan  27150
0   nissan    stanza  1991  ...             manual          sedan   2000

[5 rows x 8 columns]

# D.2.7 Grouping

In [55]:
# For ex calculate the avg price per transmission type

df.groupby("transmission_type").msrp.mean()

transmission_type
automatic    30800.000000
manual       29776.666667
Name: msrp, dtype: float64

In [56]:
# The number of records per each type along with the avg price

df.groupby("transmission_type").msrp.agg(["mean","count"])

                           mean  count
transmission_type
automatic          30800.000000      2
manual             29776.666667      3